.pagination-container {
    margin: 0 auto;
    width: fit-content;
    margin-top: auto;
}

.pagination-container button {
    border: unset;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
	box-shadow:0px 1px 1px 1px var(--light-gray);
    margin: 0.5rem;
	transition: all 0.2s;
    cursor: pointer;
}

.pagination-container button p {
    margin: 0;
    padding: 0;
}

.pagination-container button.current-page {
    background-color: black;
    color: white;
}


.pagination-container button:active {
    background-color: white;
    color: black;
    transform: translateY(1px);
}